.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    height: 115px;
    padding: 31px 66px 31px 28px;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 23px;
    width: 15px;
    margin-right: 8px;
  }
  
  .logo span {
    font-size: 18px;
    font-weight: bold;
    color: #6B6969;

  }
  
  .search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    width: 200px;
    padding: 5px;
  }
  
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-bar img {
    height: 20px;
    width: 20px;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .header-icons button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .header-icons img {
    height: 24px;
    width: 24px;
  }
  
  .header-icons span {
    font-size: 1rem;
    color: #333;
  }
  