<header class="header-container">
  <!-- Logo -->
  <div class="logo">
    <img src="../../../assets/icons/logo.svg" alt="FloraHub logo" />
    <span>FloraHub</span>
  </div>

  <!-- Barra de Pesquisa -->
  <div class="search-bar">
    <img src="../../../assets/icons/lupa.svg" alt="Search Icon" class="img"/>
    <input type="text" placeholder="Search" />
    <button>
      <img src="../../../assets/icons/Search Fill.svg" alt="Search Button" />
    </button>
  </div>

  <!-- Ícones de Navegação -->
  <div class="header-icons">
    <button aria-label="Favorites">
      <img src="../../../assets/icons/HeartBackground.svg" alt="Favorites" />
    </button>
    <button aria-label="Cart">
      <img src="../../../assets/icons/Shopping Cart.svg" alt="Cart" />
    </button>
    <button aria-label="Profile">
      <img src="../../../assets/icons/ProfileBackground.svg" alt="Profile" />
    </button>
    <!-- Linha de separação -->
    <div class="vertical-separator"></div>
    <span>John</span>
  </div>
</header>
