<app-header></app-header>

<section class="banner-section">
    <div class="banner-background">
      <img src="../../../assets/imgs/plants.png" alt="Three Plants" class="plants" />
      <img src="../../../assets/icons/Right Arrow.svg" alt="Right Arrow" class="icon" />
    </div>
</section>
  
<main class="duo">
    <section class="interior-section">
        <h1>Interior</h1>
        <div class="container1">
            <app-interior src="../../../assets/imgs/Asplenium.svg" title="Asplenium" price="$345"></app-interior>
            <app-interior src="../../../assets/imgs/Ficus Lyrata.svg" title="Ficus Lyrata" price="$123"></app-interior>
            <app-interior src="../../../assets/imgs/Zamioculca Zamio….svg" title="Ficus Lyrata" price="$123"></app-interior>
            <app-interior src="../../../assets/imgs/Sansevieria Sans….svg" title="Ficus Lyrata" price="$123"></app-interior>
            <app-interior src="../../../assets/imgs/Ficus Lyrata.svg" title="Ficus Lyrata" price="$123"></app-interior>
            <app-interior src="../../../assets/imgs/Asplenium.svg" title="Asplenium" price="$345"></app-interior>
        </div>
    </section>
      
    <section class="exterior-section">
        <h1>Exterior</h1>
        <div class="container1">
            <app-exterior src="../../../assets/imgs/Asplenium.svg" title="Asplenium" price="$345"></app-exterior>
            <app-exterior src="../../../assets/imgs/Ficus Lyrata.svg" title="Ficus Lyrata" price="$123"></app-exterior>
            <app-exterior src="../../../assets/imgs/Zamioculca Zamio….svg" title="Ficus Lyrata" price="$123"></app-exterior>
            <app-exterior src="../../../assets/imgs/Sansevieria Sans….svg" title="Ficus Lyrata" price="$123"></app-exterior>
            <app-exterior src="../../../assets/imgs/Ficus Lyrata.svg" title="Ficus Lyrata" price="$123"></app-exterior>
            <app-exterior src="../../../assets/imgs/Asplenium.svg" title="Asplenium" price="$345"></app-exterior>
        </div>
    </section>
</main>

<app-footer></app-footer>
