.banner-section {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 68px;
}
  
.banner-background {
    background: linear-gradient(180deg, #f0f2f5 0%, #e5e7eb 100%); /* Gradiente suave de cima para baixo */
    width: 100%;
    height: 420px; /* Aumente a altura conforme necessário */
    border-radius: 0px 100px 0px 100px; /* Bordas arredondadas */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Alinha a imagem na parte inferior */
    overflow: hidden; /* Para cortar a imagem */
}

.plants {
    width: 980px; /* Aumente a largura da imagem */
    height: auto;
    object-fit: contain;
    margin-bottom: -100px; /* Ajuste para cortar a base do jarro */
}

.icon {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    right: 50px;  /* Ajuste conforme necessário */
    width: 40px;  /* Ajuste o tamanho do ícone */
    height: 40px; /* Ajuste o tamanho do ícone */
    cursor: pointer;
}

.duo h1{
    font-size: 26px;
    font-weight: bold;
    color: 000000;
    margin-bottom: 26px;
}

.duo {
    margin: 7px 30px 14px 30px;

}

.duo .interior-section {
    margin-bottom: 53px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
